:root {
    --lightGrey: rgb(240, 240, 240);
  }
  
*{
    background-color: var(--lightGrey);
}


p{

    margin: 0 auto;
    text-align: left;
}

h1 {
    color: red;  
}


h2 {
    color: rgb(179, 116, 0);
    text-align: center;
}

ol, ul {
    list-style-position: inside;
    text-align: left;
}

li{
    text-align: left;
    color: red;
}

.invisible {
    color: var(--lightGrey);
}

span {
    color: black;
}

ol {
    list-style-type: upper-roman;
}

.container{
    display: flex;
    max-width: 500px;
    flex-direction:column;
    align-items: center;
    margin: 0 auto;
}

.listSection{
    display: flex;
    flex-direction:column;
    margin: 0 auto;
    width: 75%;
}

.flexLink{
    display: flex;
    flex-direction: column;
}

img {
    max-width: 500px;
    height: auto;
    animation: fadeIn ease 7s;
}



a {
    font-size: 1.5em;
}
a:visited {
    color: orange;
}
a:hover{
    color: red;
}

a:link{
    color: darkblue;
}

.linkImage{
    height: 100px;
    width: auto;
    margin: auto 0;
}

.linkList{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}

@keyframes fadeIn {
    0% {opacity:0.2;}
    100% {opacity:1;}
  }