*{
    background-color: rgb(240, 240, 240);
    text-align: center;
}

p{
    width: 25%;
    margin: 0 auto;
    text-align: left;
}

h1 {
    color: red;  
}


h2 {
    color: rgb(179, 116, 0);
}

ol, ul {
    list-style-position: inside;

}

li{
    width: 50%;
    margin: 0 auto;
    text-align: left;
    color: red;
}

span {
    color: black;
}

ol {
    list-style-type: upper-roman;
}

.center{
   width: 50%;
   margin: 0 auto;
}

img {
    width: 25%;
    height: auto;
    animation: fadeIn ease 7s;
}

@keyframes fadeIn {
    0% {opacity:0.2;}
    100% {opacity:1;}
  }